 /* header */
/* white
#9f7d63ff
#decdb9
 */

body {
	color: #3d220f;
	font-family: Bitter, sans-serif;
	background-color: #decdb9;
}

/* HEADER */

#logo {
	filter: invert(12%) sepia(47%) saturate(754%) hue-rotate(343deg) brightness(93%) contrast(95%);
}
a h1 {
	float: left;
	margin: 5px 15px;
	color: #3d220f;
	font-size: 2em;
	font-weight: 600;
}
#coffeetalk div {
	color: #3d220f;
	float: left;
	margin: 1px 15px;
}
.navbar-brand {
	vertical-align: middle;
}
#coffeetalk {
	text-decoration: none;
	color: white;
	margin-top: 50px;
}
#header-nav.navbar.navbar-custom {
	background-color: #9f7d63ff;
}
a.nav-link, a.nav-link:visited, a.nav-link:active, .dropdown-toggle:active, .dropdown-toggle:focus, .open .dropdown-toggle {
	color: white;
	font-size: 1.5em;
	border: none;
}
.nav-item > .nav-link:hover {
	color: #decdb9;
}
.dropdown-item:active {
	background-color: grey;
}
.dropdown-menu {
	padding: 0;
	background-color: #decdb9;
}
.dropdown-divider {
	margin: 0;
	color: #311800;
	opacity: .3;
}
.dropdown-menu .dropdown-item {
	padding: 0.5rem;
	color: #311800;
	font-weight: 500;
}
@media (max-width: 509px) {
	.navbar-brand {
		margin: auto;
		font-size: .8em;
	}
	#logo {
		width: 75px;
		height: 75px;
	}
}
.navbar-toggler.custom-toggler {
	border: 2px solid white;
}
@media (min-width: 767px){
	.current-page {
		border: 1px white solid;
		border-radius: 10px;
	}
}
.navbar-toggler-icon {
 	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28222, 205, 185, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler {
	border: 2px #decdb9 solid;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
@media (max-width: 465px) {
	.navbar-header {
		width: 270px;
	}
}
/* END OF HEADER */


/* CAROUSEL */
.carousel-item .carousel-caption{
	bottom: 40%;
	font-size: 60px;
	opacity: .7;
	background-color: #3d220f;

}
.carousel-caption h5 a {
	opacity: 1;
	color: white;
	font-size: 50px;
	vertical-align: middle;
	margin: 0;
	text-decoration: none;
}
.carousel-caption h5 a:hover {
	font-weight: 700;
}
.carousel-item .carousel-caption {
	width: 796px;
	text-align: center;
}
@media (min-width: 768px) and (max-width: 796px) {
	#carouselCaptions div:nth-child(2) h5{
		font-size: 45px;
	}
}
@media (max-width: 767px) {
	#carouselCaptions div:nth-child(2) h5{
		padding-bottom: 15px;
	}
	.carousel-item .carousel-caption {
		bottom: 0;
		width: 100%;
		left: 0;
	}
}
@media (min-width: 600px) and (max-width: 767px) {
	.carousel-caption h5 a {
		font-size: 40px;
	}
}
@media (max-width: 599px){
	.carousel-caption h5 a {
		font-size: 25px;
	}
}
@media (min-width: 1024px){
	.carousel-caption h5 {
		font-size: 60px;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.carousel-item .carousel-caption {
		width: 768px;
		left: 0;
		right: 0;
	}
}

/* END OF CAROUSEL */

/* PROJECT DESCRIPTION */

#aboutColumn {
	position: relative;
	margin-top: 30px;
	width: 1024px;
	border: 4px solid #3d220f;
	border-radius: 5px;
	background-color: #decdb9;
	color: #3d220f;
}
#aboutColumnTitle {
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
}

/* END OF PROJECT DESCRIPTION */

/* HOME BOXES */
@media (min-width: 1200px) {
	.container .home-box-row {
		width: 1024px;
	}
}
.row.home-box-row {
	margin-top: 30px;
}
.container.home-box-container {
	padding: 0;
}
.home-box-wrapper {
	padding: 0;
	position: relative;
}
.home-box .home-box-label {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 125%;
	padding: 10px 0;
	background-color: #3d220f;
	opacity: .7;
}
@media (min-width: 768px) {
	.home-box-row .home-box:nth-child(1) {
		padding-left: 0;
		padding-right: 16px;
	} 
	.home-box-row .home-box:nth-child(2) {
		padding-right: 8px;
		padding-left: 8px;
	} 
	.home-box-row .home-box:nth-child(3) {
		padding-right: 0;
		padding-left: 16px;
	} 
}
@media (min-width: 576px) and (max-width: 767px) {
	.home-box-row .home-box:nth-child(1) {
		padding-left: 0;
		padding-right: 8px;
	} 
	.home-box-row .home-box:nth-child(2) {
		padding-right: 0px;
		padding-left: 8px;
	} 
	.home-box-row .home-box:nth-child(3) {
		padding-right: 4px;
		padding-left: 4px;
		padding-top: 20px;
		margin-left: auto;
		margin-right: auto;
	} 
}
@media (max-width: 575px) {
	.home-box-row .home-box {
		padding: 20px 20px;
	}
}

/* END OF HOME BOXES */

/* ARTICLES PAGE */

.articleJumbotron {
	z-index: 1;
}
.article-content {
	background-color: #9f7d63ff;
	width: 75%;
	position: relative;
	height: auto;
	margin: 0 auto;
	z-index: 2;
	max-width: 1100px;
	padding-bottom: 10px;
}
.article-header {
	color: white;
	text-align: center;
	margin-bottom: 40px;
}
hr.divider {
	width: 75%;
	height: 2px;
	color: white;
	margin: 25px auto;
}
.row.coffee-convo {
	padding: 20px 10px;
	color: #decdb9;
	margin: 30px;
	border: 2px dashed #decdb9;
}
h3.coffee-question {
	font-size: 2em;
	padding: 10px;
	vertical-align: middle;
}
p.coffee-response {
	margin-bottom: 0;
	vertical-align: center;
}
.theArticle p {
	margin: 5px 30px;
	text-indent: 25px;
	font-weight: 700;
}
#contactThem {
	padding: 10px;
	color: #decdb9;
	margin: 30px;
	border: 2px dashed #decdb9;
}
#contactThemHeader {
	text-align: center;
	font-size: 2em;
	padding-bottom: 10px;
}
#contacts {
	margin-top: 70px;
}
#contacts a {
	text-decoration: none;
	color: inherit;
	font-size: 20px;
}
#contacts div {
	width: 100%;
	text-align: center;
	margin: 10px 0;
}
#contacts div {
	border: 1px #decdb9 solid;
}
#contacts div:hover{
	box-shadow: 2px 2px #decdb9;
}
#map {
	overflow: hidden;
	padding-right: 20px;
}
@media (min-width: 1400px) {
	.article-content {
		top: -200px;
	}
}
@media (min-width: 1200px) {
	.article-content {
		top: -150px;
	}
	h5 .article-title {
		font-size: 3em;
		padding: 15px 0 25px 0;
	}
	h5 .article-subtitle {
		font-size: 2em;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.article-content {
		top: -100px;
		width: 780px;
	}
	h5 .article-title {
		font-size: 2.5em;
		padding: 10px 0 20px 0;
	}
	h5 .article-subtitle {
		font-size: 1.5em;
	}
}
@media (min-width: 767px) and (max-width: 991px) {
	.container.FrannyLous, .container.LuckyGoat {
		max-width: 100%;
		margin: 0;
		width: 100%;
		padding: 0;
	}
	.article-content {
		top: -100px;
		width: 720px;
	}
	h5 .article-title {
		font-size: 2.5em;
		padding: 10px 0 20px 0;
	}
	h5 .article-subtitle {
		font-size: 1.5em;
	}
}
@media (max-width: 766px) {
	.FrannyLous .articleJumbotron, .LuckyGoat .articleJumbotron {
		-webkit-background-size: cover;
	}
	.article-content {
		width: 94%;
	}
	h5 .article-title {
		font-size: 1.8em;
		padding: 10px 0 20px 0;
	}
	h5 .article-subtitle {
		font-size: 1.25em;
	}
	.container.FrannyLous, .container.LuckyGoat {
		max-width: 100%;
		padding: 0;
	}
	#contacts {
		margin-top: 0px;
	}
	.
}

/* END OF ARTICLES PAGE */

/*ABOUT PAGE */

#aboutHeader {
	width: 300px;
	text-align: center;
	margin: 40px auto;
	font-size: 40px;
	border: 3px #3d220f solid;
	padding: 10px;
	border-radius: 5px;
}
#aboutMe {
	border: 2px #3d220f solid;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height: 400px;
	position: relative;
}
#aboutMeHeader{
	font-size: 1.5em;
	padding-top: 30px;
	position: relative;
	left: 290px;
}
#aboutMeImage {
	position: absolute;
	bottom: 54px;
	left: 20px;
	float: left;
}
#aboutMeBody {
	margin: auto 0;
	float: left;
}
#aboutMeText {
	padding: 20px 20px 40px 290px;
}
.thanks-wrapper:nth-child(1) {
	padding-left: 0;
}
.thanks-wrapper:nth-child(2) {
	padding-right: 0;
}
@media (max-width: 991px) and (min-width: 768px) {
	#aboutMe {
		height: auto;
	}
	#aboutMeImage {
		left: 20px;
		top: 86px;
	}
}
@media (max-width: 767px) {
	#aboutMeImage {
		top: 80px;
		width: 90%;
	}
	#aboutMeText {
		padding: 115% 20px 20px 20px;
	}
	#aboutMeHeader {
		left: 40%;
	}
	#aboutMe {
		height: auto;
	}
	.thanks-wrapper:nth-child(1) {
		padding: 20px 0;
	}
	.thanks-wrapper:nth-child(2) {
		padding: 20px 0;
	}
	div.thanks.row {
		padding-top: 20px;
	}
}
@media (max-width: 530px) {
	#aboutMe {
		height: auto;
	}
}
@media (min-width: 565px) and (max-width: 580px) {
	#aboutMe {
		height: auto;
	}
}
@media (min-width: 992px) {
	div.row.thanks {
		margin-left: auto;
		margin-right: auto;
	}
}
.row.thanks {
	max-width: 900px;
	padding-top: 40px;
	margin-left: -12px;
	margin-right: -12px;
}
.thanks-column {
	border: #3d220f solid 2px;
	border-radius: 5px;
	padding: 5px;
}
.thanks-header {
	font-size: 1.25em;
	padding-top: 5px;
	padding-bottom: 5px;
}
#sources-body a {
	color: #3d220f;
	text-decoration: none;
}
#sources-body a:hover {
	text-decoration: underline;
}

/*END OF ABOUT PAGE */

/* FOOTER */
#footer2 {
	position: relative;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 5px;
	background-color: #9f7d63ff;	
}
#footer {
	position: relative;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 5px;
	background-color: #9f7d63ff;
}

@media (min-width: 1200px){
	#footer {
		top: -150px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#footer {
		top: -100px;
	}
}
@media (min-width: 767px) and (max-width: 991px) {
	#footer {
		top: -100px;
	}
}

/* END OF FOOTER
